fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langgraph
langchain-ollama
langchain-text-splitters

sentence-transformers

transformers
torch

chromadb
langchain-chroma

rank-bm25

pymupdf

requests
httpx

python-dotenv

pydantic
pydantic-settings

loguru

streamlit

ragas

pytest

tqdm
rich

ollama
biopython

rank-bm25 #for tokenization and ranking of documents


ragas
datasets
pandas